@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.header {
    background-color: #fff;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 17px;
    color: #252424;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
 }
.info{
    background-color: #252424;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 17px;
    color:#fff;
    width: 1440px;
    height: 70px;
    margin-left: -165px;
}
.info{
    margin-top: -70px;
}
.contacts{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 17px;
    margin-left: 15px;
}
.confidential{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 17px;
    margin-left: 15px;
}
.about{
    font-family: "Roboto";
    font-weight: 300;
    font-size: 17px;
    margin-left: 15px;
}
.picture{
    width: 300px;
    height: 300px;
    margin-left: 60px;
    margin-top: 60px;


}
.card-body{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    margin-left: 15px;
}










